html, body {
  width: 100%;
  height: 100%;
  /* remove the extra whites around */
  margin: 0;
  overflow: none;
}
#matrix {
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
  overflow: none;
}